<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <title>Amigoscode login</title>
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">

</head>
    <body>
        <div class="container">
            <h1>Courses</h1>
            <p>Spring Boot Security</p>

            <a href="http://localhost:8080/management/api/v2/students">Students Repository (for admins)</a>
            <p>Students Credentials (for Students) by id: [
                <a href="http://localhost:8080/api/v2/student/1">1</a>,
                <a href="http://localhost:8080/api/v2/student/2">2</a>,
                <a href="http://localhost:8080/api/v2/student/3">3</a>,
                <a href="http://localhost:8080/api/v2/student/4">4</a>,
                ]
            </p>
            <form class="form-signin" method="get" action="/logout">
                <button class="btn btn-primary btn-block" type="submit">Logout</button>
            </form>
        </div>

    </body>
</html>